html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #0E0C0F;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  display: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper .main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: block;
  color: #141414;
  font-weight: 600;
  background-color: #E49031;
  padding: 13px 15px;
  display: inline-block;
}

.no-webp .menu-top {
  background: url("../images/menu/menu-bg.jpg") center/cover no-repeat; }

.menu-top {
  margin-bottom: 120px;
}

.menu-top__inner {
  padding: 185px 0;
  height: 80vh;
}

.menu-top__box {
  text-align: center;
  border: 8px solid #fff;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.menu-top__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 128px;
  line-height: 88px;
  padding: 60px 0px 0 0px;
}

.menu-top__text {
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.no-webp .chinese__inner {
  background: url("../images/menu/chinese.jpg") top left no-repeat; }

.menu-chinese,
.menu-japanese,
.menu-korean {
  margin: 0 auto;
  max-width: 700px;
  border: 8px solid #fff;
  margin-bottom: 120px;
}

.menu-chinese__body,
.menu-japanese__body,
.menu-korean__body {
  position: relative;
  z-index: 10;
  background: #0e0c0f;
}

.menu-chinese__title,
.menu-japanese__title,
.menu-korean__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  padding: 80px 0 40px 0;
  text-align: center;
}

.menu-chinese__item,
.menu-japanese__item,
.menu-korean__item {
  margin: 0 90px 30px 90px;
  border-bottom: 1px solid #fff;
}

.menu-chinese__item:last-child,
.menu-japanese__item:last-child,
.menu-korean__item:last-child {
  margin-bottom: 160px;
}

.menu-chinese__top,
.menu-japanese__top,
.menu-korean__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-chinese__name,
.menu-japanese__name,
.menu-korean__name {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 5px;
}

.menu-chinese__price,
.menu-japanese__price,
.menu-korean__price {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

.menu-chinese__info,
.menu-japanese__info,
.menu-korean__info {
  margin-bottom: 20px;
}

.no-webp .japanese__inner {
  background: url("../images/menu/japanese.jpg") top right no-repeat; }

.no-webp .korean__inner {
  background: url("../images/menu/korean.jpg") top left no-repeat; }

.no-webp .top-dessert {
  background: url("../images/menu/dessert/bg.jpg") 0 0/cover no-repeat; }

.top-dessert {
  padding: 105px 10px;
  text-align: center;
  margin-bottom: 120px;
}

.top-dessert__title {
  text-align: center;
  padding: 72px;
  width: 100%;
  max-width: 700px;
  font-family: "Italianno";
  font-weight: 400;
  font-size: 128px;
  line-height: 128px;
  border: 8px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.offers-dessert {
  text-align: center;
  padding-bottom: 120px;
}

.offers-dessert__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.offers-dessert__item {
  margin: 10px;
  border: 4px solid #ffffff;
  border-radius: 5px;
}

.offers-dessert__image {
  margin-bottom: 30px;
}

.offers-dessert__title {
  font-family: Italianno;
  font-size: 35px;
  margin-bottom: 15px;
}

.offers-dessert__price {
  margin-bottom: 30px;
  font-family: Italianno;
  font-size: 55px;
}

.no-webp .reservation-top {
  background: url("../images/reservation/bg.jpg") -20px 0/cover no-repeat; }

.reservation-top {
  margin-bottom: 120px;
}

.reservation-top__inner {
  padding: 185px 0;
  height: 80vh;
}

.reservation-top__box {
  text-align: center;
  border: 8px solid #fff;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.reservation-top__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 128px;
  line-height: 88px;
  padding: 60px 0px 0 0px;
}

.reservation-top__text {
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.options__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.options__item {
  max-width: 340px;
  min-height: 700px;
  border: 4px solid #fff;
  margin: 10px;
  box-shadow: 0px 5px 10px 6px;
}

.options__item:first-child {
  margin-top: -30px;
}

.options__item:last-child {
  margin-top: 45px;
}

.options__image {
  margin-bottom: 40px;
}

.options__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Italianno";
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
}

.options__text {
  padding: 0 17px;
}

.no-webp .about-top {
  background: url("../images/about/bg.jpg") -20px 0/cover no-repeat; }

.about-top {
  margin-bottom: 120px;
}

.about-top__inner {
  padding: 185px 0;
  height: 80vh;
}

.about-top__box {
  text-align: center;
  border: 8px solid #fff;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.about-top__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 128px;
  line-height: 88px;
  padding: 60px 0px 0 0px;
}

.about-top__text {
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about {
  margin-bottom: 100px;
}

.about__items {
  display: flex;
  justify-content: space-between;
}

.about__item {
  max-width: 520px;
  width: 100%;
  padding: 0 10px;
}

.about__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 30px;
}

.team__title {
  font-family: "Italianno";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
}

.team__text {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.team__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.team__item {
  margin: 0 10px 20px 10px;
  text-align: center;
}

.team__image {
  margin-bottom: 20px;
}

.team__name {
  font-family: Italianno;
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
  margin-bottom: 5px;
}

.team__info {
  font-family: Italianno;
  font-size: 32px;
}

.no-webp .contact {
  background: url("../images/contact/map.jpg") 0 0/cover no-repeat; }

.contact__inner {
  padding: 185px 0;
  height: 100vh;
}

.contact iframe {
  position: absolute;
  height: 100vh;
}

.info-contact {
  position: relative;
  z-index: 5;
  max-width: 700px;
  background-color: #0E0C0F;
}

.info-contact__item {
  margin-left: 90px;
}

.info-contact__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 10px;
}

.info-contact__title:first-child {
  padding-top: 90px;
}

.info-contact__link:last-child {
  display: inline-block;
  margin-bottom: 75px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 20;
  background: linear-gradient(180deg, #000000 -26.87%, rgba(0, 0, 0, 0) 119%);
}

.top-header {
  display: flex;
  align-items: center;
}

.top-header__inner {
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}

.top-header__menu--burger {
  display: none;
}

.top-header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 22px;
}

.top-header__link {
  padding: 20px 0;
  margin: 20px 25px;
  transition: all 0.3s;
}

.top-header__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin: 0 auto;
}

.top-header__burger {
  display: none;
  background: transparent;
  cursor: pointer;
}

.top-header__burger span {
  display: block;
  width: 30px;
  background-color: #fff;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 25px;
  transition: all 0.4s;
}

.top-header__burger.active span {
  opacity: 0;
  transition: opacity 0s;
}

.top-header__burger.active span:first-child {
  transform: translateY(7px) rotate(-45deg);
  opacity: 1;
  transition: all 0.4s;
}

.top-header__burger.active span:last-child {
  transform: translateY(-9px) rotate(45deg);
  opacity: 1;
  transition: all 0.4s;
}

.no-webp .home {
  background: url("../images/welcome/home-bg.jpg") top/cover no-repeat; }

.home__inner {
  min-height: 100%;
  min-height: 100vh;
}

.home-box {
  max-width: 700px;
  margin: 170px auto 0 auto;
  text-align: center;
  border-right: 8px solid #fff;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

.home-box::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 8px;
  background-color: #fff;
  bottom: 0;
  right: 0;
}

.home-box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 8px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.home-box__title {
  font-family: "Italianno";
  font-size: 128px;
  line-height: 80px;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 5px;
  font-weight: 400;
  padding: 0 10px;
}

.home-box__text {
  color: #fff;
  font-weight: 500;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 10px;
}

.home-box__btn {
  display: inline-block;
  width: 340px;
  margin-bottom: -664px;
}

.body-story {
  display: flex;
  margin: 120px 0;
}

.body-story__items {
  display: flex;
  padding: 0 10px;
}

.body-story__items:last-child {
  flex-direction: column;
}

.body-story__image {
  margin: 0 20px 20px 0;
}

.body-story__title {
  max-width: 340px;
  font-family: "Italianno";
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.body-story__text {
  max-width: 340px;
  margin: 0 auto 30px auto;
}

.body-story__link {
  color: #E49031;
  padding-right: 40px;
  width: 150px;
  background: url("../images/welcome/story/arrow.svg") right no-repeat;
}

.no-webp .products {
  background: url("../images/welcome/products/bg.jpg") 0 0/cover no-repeat; }

.body-products__items {
  display: flex;
  align-items: center;
  padding: 70px 0;
}

.body-products__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 96px;
  line-height: 80px;
  margin-right: 95px;
}

.body-products__item {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  background: #0E0C0F;
  border: 4px solid #FFFFFF;
  transition: all 0.5s;
}

.body-products__img {
  width: 100%;
}

.body-products__name {
  padding: 40px 46px 46px 46px;
}

.body-recommendation {
  display: flex;
  justify-content: space-between;
  padding: 170px 0;
}

.body-recommendation__items-images {
  display: flex;
  justify-content: center;
}

.body-recommendation__title {
  max-width: 380px;
  font-family: "Italianno";
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 20px;
}

.body-recommendation__text {
  max-width: 400px;
  margin-bottom: 40px;
}

.body-recommendation__btn {
  display: inline-block;
  padding: 12px 68px;
  margin-bottom: 60px;
}

.body-recommendation__img--first {
  margin-top: -50px;
}

.body-recommendation__img--last {
  margin-top: 50px;
}

.body-recommendation__img {
  height: 100%;
  margin-right: 20px;
}

.no-webp .photo {
  background: url("../images/welcome/photo/bg.jpg") 0 0/cover no-repeat; }

.photo {
  padding: 80px 0;
}

.photo__items:first-child {
  display: flex;
  align-items: center;
}

.photo__items {
  display: flex;
}

.photo__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
}

.photo__link {
  margin-left: auto;
  padding-right: 40px;
  color: #E49031;
  background: url("../images/welcome/photo/arrow.svg") right no-repeat;
}

.photo__item {
  margin-right: 20px;
}

.phono__image-last {
  height: 100%;
}

.phono__image-first {
  margin-bottom: 20px;
}

.body-booking {
  margin: 120px 0;
  border-right: 8px solid #fff;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  position: relative;
}

.body-booking::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 8px;
  background-color: #fff;
  bottom: 0;
  right: 0;
}

.body-booking::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 8px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.body-booking__title {
  text-align: center;
  margin: 80px 0 30px 0;
  font-family: "Italianno";
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.body-booking__line {
  margin-bottom: 50px;
}

.body-booking__input {
  border: 0;
  background-color: #0E0C0F;
  color: #fff;
  border-bottom: 1px solid #fff;
  max-width: 430px;
  width: 100%;
  margin-right: 20px;
  padding: 0 10px;
}

.body-booking__input::-moz-placeholder {
  color: #fff;
  border: 0;
}

.body-booking__input::placeholder {
  color: #fff;
  border: 0;
}

.body-booking__input:focus {
  border-color: #0E0C0F;
  border-radius: 0;
  background-color: #0E0C0F;
}

.body-booking__input-person {
  max-width: 250px;
}

.body-booking__input-date {
  color: #fff;
  max-width: 340px;
  position: relative;
  z-index: 5;
}

.body-booking__input-date::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 11px;
  background: url("../images/welcome/vector.svg") 0 0 no-repeat;
  right: 12px;
  top: 8px;
  z-index: -1;
}

.body-booking__input-time {
  max-width: 250px;
  position: relative;
  z-index: 5;
}

.body-booking__input-time::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 11px;
  background: url("../images/welcome/vector.svg") 0 0 no-repeat;
  right: 14px;
  top: 8px;
  z-index: -1;
}

.body-booking__btn {
  display: inline-block;
  padding: 12px 113px;
  margin-bottom: -20px;
}

.footer {
  border-top: 1px solid #fff;
}

.body-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-footer__title {
  font-family: "Italianno";
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  margin: 40px 0 20px 0;
}

.body-footer__list {
  display: flex;
}

.body-footer__item {
  margin-left: 84px;
  margin-top: 10px;
}

.body-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s;
}

.copyright-footer__text {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 80px;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 961px) {
  .top-header__link:hover {
    color: #E49031;
    text-decoration: underline;
  }

  .body-products__item:hover {
    background: #E49031;
    color: #0E0C0F;
  }

  .body-footer__link:hover {
    color: #E49031;
    text-decoration: underline;
  }
}

@media (max-width: 1300px) {
  .body-recommendation {
    justify-content: space-around;
  }

  .body-booking__btn {
    padding: 12px 70px;
  }

  .body-booking::after,
  .body-booking::before {
    width: 350px;
  }
}

@media (max-width: 1050px) {
  .body-recommendation {
    display: block;
  }

  .body-recommendation__items {
    text-align: center;
  }

  .body-recommendation__items:first-child {
    margin-bottom: 20px;
  }

  .body-recommendation__title {
    max-width: 100%;
  }

  .body-recommendation__text {
    margin: 0 auto 20px auto;
  }

  .body-booking::after,
  .body-booking::before {
    width: 300px;
  }

  .body-booking__line {
    padding: 0 30px;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }

  .body-booking__line-second {
    max-width: 500px;
    margin: 0 auto;
  }

  .body-booking__input {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .body-footer__item {
    margin-left: 50px;
  }
}

@media (max-width: 960px) {
  body.lock {
    overflow: hidden;
  }

  .top-header__title {
    padding: 20px 0;
  }

  .top-header__menu:last-child {
    top: 100%;
  }

  .top-header__menu {
    display: none;
  }

  .top-header__menu--burger {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -200%);
    background: linear-gradient(180deg, #000 -56.87%, rgba(0, 0, 0, 0.886) 119%);
    width: 100%;
    transition: all 0.5s;
    overflow: auto;
  }

  .top-header__menu--burger.active {
    transform: translate(0, 0);
  }

  .top-header__item {
    display: block;
    margin: 40px 0;
  }

  .top-header__item:first-child {
    margin-top: 100px;
  }

  .top-header__list {
    display: block;
    align-items: center;
    text-align: center;
  }

  .top-header__btn {
    text-align: center;
  }

  .top-header__link {
    display: block;
    padding: 0 0 20px 0;
    margin: 0 0 0;
    font-size: 24px;
  }

  .top-header__burger {
    display: block;
    position: relative;
    z-index: 20;
    border: 0;
  }

  .top-header__title {
    margin: 0 0 0 20px;
  }

  .body-story {
    flex-direction: column-reverse;
  }

  .body-story__title {
    margin: 0 auto;
  }

  .body-story__title {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .body-story__text {
    max-width: 100%;
  }

  .body-story__link {
    margin-bottom: 20px;
  }

  .body-products__item {
    max-width: 500px;
    margin: 0 auto 20px auto;
  }

  .body-products__items {
    display: block;
  }

  .body-products__title {
    text-align: center;
    margin: 0 0 30px 0;
  }

  .photo__item {
    margin-right: 10px;
  }

  .phono__image-first {
    margin-bottom: 10px;
  }

  .photo__item:last-child {
    display: none;
  }

  .body-booking::after,
  .body-booking::before {
    width: 200px;
  }

  .body-footer__item {
    margin-left: 25px;
  }

  .menu-top {
    margin-bottom: 30px;
  }

  .contact {
    margin-bottom: 0;
  }

  .reservation-top {
    margin-bottom: 60px;
  }

  .chinese__inner,
  .japanese__inner,
  .korean__inner {
    background: url("../images/menu/");
  }
}

@media (max-width: 775px) {
  .options__item {
    max-width: 80%;
    padding-bottom: 50px;
    margin: 0 0 10px 0;
    height: 100%;
  }

  .options__item:first-child,
  .options__item:last-child {
    margin-top: 0;
  }

  .options__image {
    width: 100%;
  }
}

@media (max-width: 740px) {
  .home-box::after,
  .home-box::before {
    width: 100px;
  }

  .body-booking::after,
  .body-booking::before {
    width: 150px;
  }

  .body-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .body-footer__title {
    margin: 20px 0 10px 0;
  }

  .body-footer__list {
    margin-bottom: 30px;
  }

  .copyright-footer__text {
    padding-bottom: 40px;
    font-size: 10px;
  }

  .about__items {
    flex-direction: column;
    align-items: center;
  }

  .about-top {
    margin-bottom: 30px;
  }

  .photo {
    padding: 10px 0;
  }

  .body-booking {
    margin: 50px 0;
  }

  .body-booking__title {
    margin: 30px 0 30px 0;
  }
}

@media (max-width: 640px) {
  .home-box::after,
  .home-box::before {
    width: 60px;
  }

  .body-story {
    margin: 70px 0;
  }

  .body-recommendation__items:first-child {
    margin-bottom: 10px;
  }

  .photo__item:nth-child(4) {
    display: none;
  }

  .body-booking::after,
  .body-booking::before {
    width: 100px;
  }

  .menu-top__title,
  .reservation-top__title {
    font-size: 100px;
    line-height: 70px;
  }

  .menu-chinese__name,
  .menu-japanese__name,
  .menu-korean__name {
    font-size: 35px;
    line-height: 42px;
  }

  .menu-chinese__info,
  .menu-japanese__info,
  .menu-korean__info {
    font-size: 14px;
  }

  .menu-chinese__item:last-child,
  .menu-japanese__item:last-child,
  .menu-korean__item:last-child {
    margin-bottom: 50px;
  }

  .menu-chinese,
  .menu-japanese,
  .menu-korean {
    margin: 0 auto;
    max-width: 700px;
    border: 4px solid #fff;
    margin-bottom: 40px;
  }

  .info-contact__item {
    margin-left: 40px;
  }

  .body-booking__line {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .offers-dessert__item {
    width: 100%;
  }

  .offers-dessert__item img {
    width: 100%;
  }

  .team__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .team__image {
    width: 80%;
    margin: 0 auto 20px auto;
  }

  .team__name {
    font-size: 54px;
  }
}

@media (max-width: 580px) {
  .body-recommendation__items-images {
    display: none;
  }

  .body-recommendation {
    padding: 70px 0;
  }

  .menu-chinese__item,
  .menu-japanese__item,
  .menu-korean__item {
    margin: 0 15px 10px 15px;
  }

  .top-dessert__title {
    font-size: 98px;
    line-height: 73px;
  }

  .info-contact__item {
    margin: 0 20px;
  }

  .info-contact__title:first-child {
    padding-top: 45px;
  }

  .team__items {
    margin-bottom: 60px;
  }

  .body-recommendation__btn {
    margin-bottom: 0;
  }
}

@media (max-width: 541px) {
  .home-box__btn {
    width: 240px;
  }

  .home-box__title {
    font-size: 80px;
    line-height: 50px;
  }

  .body-story {
    margin: 40px 0;
  }

  .photo__title {
    font-size: 65px;
    line-height: 58px;
  }

  .body-booking__btn {
    padding: 12px 30px;
  }

  .body-booking::after,
  .body-booking::before {
    width: 80px;
  }

  .body-footer__list {
    display: block;
    text-align: center;
  }

  .copyright-footer__text {
    padding-bottom: 20px;
  }

  .menu-chinese__title,
  .menu-japanese__title,
  .menu-korean__title {
    font-size: 74px;
    line-height: 60px;
    padding: 30px 0 20px 0;
    padding: 0 20px;
  }

  .top-dessert__title {
    display: flex;
    font-size: 81px;
    line-height: 10px;
    justify-content: center;
  }

  .about__item {
    padding: 0;
  }

  .top-dessert {
    margin-bottom: 60px;
  }

  .offers-dessert {
    padding-bottom: 60px;
  }

  .options__item {
    max-width: 100%;
    padding-bottom: 30px;
    min-height: auto;
  }

  .options__image {
    margin-bottom: 15px;
  }
}

@media (max-width: 440px) {
  .home-box__btn {
    width: 180px;
  }

  .body-story__items {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .body-story__image {
    margin: 0 0 20px 0;
  }

  .body-story__image:first-child {
    margin: 0 0 20px 0;
  }

  .body-story__title {
    font-size: 55px;
    line-height: 50px;
  }

  .body-recommendation__title {
    font-size: 55px;
    line-height: 55px;
  }

  .body-recommendation {
    padding: 30px 0;
  }

  .photo__items {
    display: block;
  }

  .phono__image {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .body-booking__btn {
    padding: 12px 20px;
  }

  .body-booking::after,
  .body-booking::before {
    width: 60px;
  }

  .menu-top__title,
  .reservation-top__title,
  .about-top__title {
    font-size: 80px;
    line-height: 50px;
    padding: 70px 10px 10px 10px;
  }

  .menu-top__text {
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .menu-chinese__price,
  .menu-japanese__price,
  .menu-korean__price {
    font-size: 38px;
    line-height: 38px;
    text-align: center;
  }

  .info-contact__item {
    margin: 0 10px;
  }

  .offers-dessert__image {
    margin-bottom: 15px;
  }

  .offers-dessert__price {
    margin-bottom: 15px;
  }

  .team__image {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .home-box::after,
  .home-box::before {
    width: 30px;
  }

  .home-box__title {
    font-size: 70px;
    line-height: 50px;
  }

  .photo__link {
    white-space: nowrap;
  }

  .body-booking::after,
  .body-booking::before {
    width: 40px;
  }

  .menu-chinese__list,
  .menu-japanese__list,
  .menu-korean__list {
    text-align: center;
  }

  .menu-chinese__top,
  .menu-japanese__top,
  .menu-korean__top {
    display: block;
  }

  .reservation-top__title {
    font-size: 65px;
    line-height: 40px;
    padding: 70px 10px 10px 10px;
  }

  .menu-chinese__title,
  .menu-japanese__title,
  .menu-korean__title {
    font-size: 60px;
    line-height: 38px;
  }
}

@media (max-height: 450px) {
  .top-header__item:first-child {
    margin-top: 20px;
  }

  .top-header__item {
    margin: 15px 0;
  }
}

.webp .menu-top { background: url(../images/menu/menu-bg.webp) center/cover no-repeat; }

.webp .chinese__inner { background: url(../images/menu/chinese.webp) top left no-repeat; }

.webp .japanese__inner { background: url(../images/menu/japanese.webp) top right no-repeat; }

.webp .korean__inner { background: url(../images/menu/korean.webp) top left no-repeat; }

.webp .top-dessert { background: url(../images/menu/dessert/bg.webp) 0 0/cover no-repeat; }

.webp .reservation-top { background: url(../images/reservation/bg.webp) -20px 0/cover no-repeat; }

.webp .about-top { background: url(../images/about/bg.webp) -20px 0/cover no-repeat; }

.webp .contact { background: url(../images/contact/map.webp) 0 0/cover no-repeat; }

.webp .home { background: url(../images/welcome/home-bg.webp) top/cover no-repeat; }

.webp .products { background: url(../images/welcome/products/bg.webp) 0 0/cover no-repeat; }

.webp .photo { background: url(../images/welcome/photo/bg.webp) 0 0/cover no-repeat; }